#memb-table {
  display:none;
}
#memb-table form {
  margin:0;
}
#memb-table table {
  color:white;
}
#memb-table-content form .memb-table-form-side {
width: 47%;
display: inline-block;
}
#memb-table-content form .memb-table-form-side label {
  float:right; 
}
#memb-table form input, #memb-table form select, #memb-table form textarea{
 width:200px; 
}
#memb-table form textarea {
  resize: vertical;
}
#memb-table form .radio {
  width:auto;
}
#memb-table .submit { margin-top:10px; }
#memb-table center div:last-child {
  font-size: 80%;
  padding-top: 10px;
  display: inline;
  padding-right: 10px;
}
#memb-table .hidden_data { display:none; }
/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:440px; width:700px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; left:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
